*{
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
.hero{
    background-image: url("heroimg.webp");
    position: relative;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
}
.hero::before{
    content: "";
    background: linear-gradient(to right, rgba(4, 18, 66, 0.6),rgba(18, 45, 143, 0.88) );
    position: absolute;
    
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}
.container-fluid{
    
}
.hero-img{
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    
}
.rate{
    margin-top: -40px;
    position: relative;
    z-index: 55;
}
.cards{
transition: all 0.5s;
}
.cards:hover{
    color: aliceblue;
    background-color: rgb(11, 53, 170);
    transform: translateY(-10px);
}
.about-right{
    background-image: url("meeteng.jpg");
    background-position: center;
    background-size: cover;
    width: 110%;
    border: 1px solid red;
}
.row{
    margin-left: 0px;
    margin-right: 0px;
    
}
